<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="generateImage" type="xboolean" value="false"/>
<entry key="showArea" type="xboolean" value="true"/>
<entry key="showGrid" type="xboolean" value="true"/>
<entry key="resizeToWindow" type="xboolean" value="true"/>
<entry key="displayFullscreenButton" type="xboolean" value="true"/>
<entry key="imageWidth" type="xint" value="800"/>
<entry key="imageHeight" type="xint" value="600"/>
<entry key="backgroundColor" type="xstring" value="rgba(255,255,255,1.0)"/>
<entry key="dataAreaColor" type="xstring" value="rgba(230,230,230,1.0)"/>
<entry key="gridColor" type="xstring" value="rgba(255,255,255,1.0)"/>
<entry key="lineWidth" type="xint" value="2"/>
<entry key="title" type="xstring" value="ROC Curve"/>
<entry key="subtitle" type="xstring" value=""/>
<entry key="yAxisTitle" type="xstring" value="True Positive Rate"/>
<entry key="xAxisTitle" type="xstring" value="False Positive Rate"/>
<entry key="showLegend" type="xboolean" value="true"/>
<entry key="enableControls" type="xboolean" value="true"/>
<entry key="enableEditTitle" type="xboolean" value="true"/>
<entry key="enableEditSubtitle" type="xboolean" value="true"/>
<entry key="enableEditXAxisLabel" type="xboolean" value="true"/>
<entry key="enableEditYAxisLabel" type="xboolean" value="true"/>
<entry key="showWarningInView" type="xboolean" value="true"/>
<entry key="ignoreMissingValues" type="xboolean" value="false"/>
<entry key="classColumn" type="xstring" value="y"/>
<config key="positiveClass">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="yes"/>
</config>
</config>
<entry key="maxPoints" type="xint" value="2000"/>
<config key="numColumns">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="P (y=yes)"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="62"/>
<entry key="0" type="xstring" value="age"/>
<entry key="1" type="xstring" value="duration"/>
<entry key="2" type="xstring" value="campaign"/>
<entry key="3" type="xstring" value="pdays"/>
<entry key="4" type="xstring" value="previous"/>
<entry key="5" type="xstring" value="emp.var.rate"/>
<entry key="6" type="xstring" value="cons.price.idx"/>
<entry key="7" type="xstring" value="cons.conf.idx"/>
<entry key="8" type="xstring" value="euribor3m"/>
<entry key="9" type="xstring" value="nr.employed"/>
<entry key="10" type="xstring" value="services_job"/>
<entry key="11" type="xstring" value="admin._job"/>
<entry key="12" type="xstring" value="blue-collar_job"/>
<entry key="13" type="xstring" value="retired_job"/>
<entry key="14" type="xstring" value="unemployed_job"/>
<entry key="15" type="xstring" value="technician_job"/>
<entry key="16" type="xstring" value="student_job"/>
<entry key="17" type="xstring" value="entrepreneur_job"/>
<entry key="18" type="xstring" value="self-employed_job"/>
<entry key="19" type="xstring" value="housemaid_job"/>
<entry key="20" type="xstring" value="management_job"/>
<entry key="21" type="xstring" value="unknown_job"/>
<entry key="22" type="xstring" value="single_marital"/>
<entry key="23" type="xstring" value="married_marital"/>
<entry key="24" type="xstring" value="divorced_marital"/>
<entry key="25" type="xstring" value="unknown_marital"/>
<entry key="26" type="xstring" value="high.school_education"/>
<entry key="27" type="xstring" value="basic.6y_education"/>
<entry key="28" type="xstring" value="university.degree_education"/>
<entry key="29" type="xstring" value="basic.9y_education"/>
<entry key="30" type="xstring" value="professional.course_education"/>
<entry key="31" type="xstring" value="unknown_education"/>
<entry key="32" type="xstring" value="basic.4y_education"/>
<entry key="33" type="xstring" value="no_default"/>
<entry key="34" type="xstring" value="unknown_default"/>
<entry key="35" type="xstring" value="no_housing"/>
<entry key="36" type="xstring" value="yes_housing"/>
<entry key="37" type="xstring" value="unknown_housing"/>
<entry key="38" type="xstring" value="no_loan"/>
<entry key="39" type="xstring" value="yes_loan"/>
<entry key="40" type="xstring" value="unknown_loan"/>
<entry key="41" type="xstring" value="cellular_contact"/>
<entry key="42" type="xstring" value="telephone_contact"/>
<entry key="43" type="xstring" value="sep_month"/>
<entry key="44" type="xstring" value="may_month"/>
<entry key="45" type="xstring" value="apr_month"/>
<entry key="46" type="xstring" value="aug_month"/>
<entry key="47" type="xstring" value="oct_month"/>
<entry key="48" type="xstring" value="mar_month"/>
<entry key="49" type="xstring" value="nov_month"/>
<entry key="50" type="xstring" value="jun_month"/>
<entry key="51" type="xstring" value="jul_month"/>
<entry key="52" type="xstring" value="dec_month"/>
<entry key="53" type="xstring" value="fri_day_of_week"/>
<entry key="54" type="xstring" value="thu_day_of_week"/>
<entry key="55" type="xstring" value="tue_day_of_week"/>
<entry key="56" type="xstring" value="wed_day_of_week"/>
<entry key="57" type="xstring" value="mon_day_of_week"/>
<entry key="58" type="xstring" value="nonexistent_poutcome"/>
<entry key="59" type="xstring" value="success_poutcome"/>
<entry key="60" type="xstring" value="failure_poutcome"/>
<entry key="61" type="xstring" value="P (y=no)"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
<entry key="customCSS" type="xstring" value=""/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value=""/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="627"/>
<entry key="y-coordinate" type="xint" value="399"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="15"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.viz.plotter.roc.ROCCurveNodeFactory"/>
<entry key="node-name" type="xstring" value="ROC Curve"/>
<entry key="node-bundle-name" type="xstring" value="KNIME JavaScript Base Views"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.views"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.0.0.v201906211023"/>
<entry key="node-feature-name" type="xstring" value="KNIME JavaScript Views"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.views.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.0.1.v201908131226"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="ROC Curve"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
